{%- if include.dark == true -%}
    {%- assign redditICO = "assets/icons/dark/Reddit.svg" -%}
    {%- assign youtubeICO = "assets/icons/dark/Youtube.svg" -%}
    {%- assign emailICO = "assets/icons/dark/Email.svg" -%}
{%- else -%}
    {%- assign redditICO = "assets/icons/light/Reddit.svg" -%}
    {%- assign youtubeICO = "assets/icons/light/Youtube.svg" -%}
    {%- assign emailICO = "assets/icons/light/Email.svg" -%}
{%- endif -%}
<div class="socialLinks">
    <a href="https://www.reddit.com/user/harperofthefreenorth/"><img src="{{redditICO}}" width="32px" alt="My Reddit Profile"></a>
    <a href="https://www.youtube.com/channel/UCVfvJBpTN4C6yhSZmJF6JQQ"><img src="{{youtubeICO}}" width="32px" alt="My (Semi-Abandoned) Youtube Channel"></a>
    <a href="mailto:cerebralpolicy0@gmail.com"><img src="{{emailICO}}" width="32px" alt="Send Me An Email"></a>
</div>